
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffff;
}
ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*common*/
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

/*header section*/

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list, 
.contact {
    display: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#404bbf;
}
.header-logo {
    padding: 16px 0;
    display: block;
}
.header-logo .logo-part {
    color: #2e2f42;
}
.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent; 
}
.burger-icon {
    display: block;
    fill: #2f2f37;
}
@media screen and (min-width: 768px) {
    .burger-btn {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
.contact {
    font-style: normal;
    display: block;
  }
  
.header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
.current::after {
content:"";
width: 100%;
position: absolute;
left: 0;
bottom: -1px;
height: 4px;
background-color: #404bbf;
border-radius: 2px;

  }
.nav-link {
    align-items: center;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;

  }
.nav-link:hover, 
.nav-link:focus {
    color: #404bbf;
  }
  .nav-link-h {
    color:#404bbf;
  }
 .contact-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contact-link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-link:hover,
  .contact-link:focus {
     color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
   .header-logo {
    margin-right: 76px;
  }
.contact-item {
    flex-direction: row;
    gap: 40px;
  }
  .contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
  }
} 
 /*mobile menu*/

 .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .mobile-menu.is-open {
    opacity:1;
    visibility: visible;
    pointer-events: all;
    z-index: 999;
 }
 .mobile-menu-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 72px 24px 40px 16px;
 }
 .nav-list-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
 }
 .nav-link-menu {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
 }
 .contact-link-menu {
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #434455;
 }
  .nav-studio, 
 .contact-nbr {
  color: #404bbf;
 }
 .contact-item-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
 }
 .social-list-link {
    min-width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, 
.social-link:focus{
    background-color: #404bbf;
}
.icon-team {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
}
.btn-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-menu-close:hover,
.btn-menu-close:focus {
     background-color: #404bbf;
    border: none;
    fill: #ffffff;
}
 @media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
  }
 }

 /*section one*/

 .section-color {
    display: block;
    padding: 72px 0;
    background-color:#2e2f42;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 320px;
    background-position: center;
    margin: 0 auto;
}
.head-h {
    display: flex;
    justify-content: center;
    align-items: center;
        max-width: 216px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin: 0 auto;
        margin-bottom: 48px;
}
.button {
    display: block;
    border: none;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background: #4d5ae5;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       
}
.button:hover,
.button:focus  {
    background-color: #404BBF;
}
@media screen and (min-width: 768px) {
   .section-color {
    max-width: 768px;
    padding: 112px 0;
  } 
   .head-h {
        min-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
  }
}
@media screen and (min-width: 1158px) {
    .section-color {
        max-width: 1440px;
        padding: 188px 0;
        background-color:#2e2f42;
  }

.head-h {
    margin-bottom: 48px;
  }
.button {
    display: block;
    border: none;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background: #4d5ae5;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       }
.button:hover,
.button:focus  {
    background-color: #404BBF;
  }
}

 /*section two*/

 .icon-hero {
    display: none;
 }
 .text-list {
  padding: 96px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.head-list {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
} 
.p-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
@media screen and (min-width: 768px) {
  .head-list {
    text-align: start;
  }
   .text-list {       
      gap: 72px 24px;
  }
    .text-section-two {
        width: 356px;   
  }
}

@media screen and (min-width: 1158px) {
    .text-list {
      min-width: 1128px;
      flex-wrap: nowrap;
      gap: 24px;
      padding: 120px 0;
      
  }
  
    .icon-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }

    .head-list {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
  }
    .p-link {
        font-weight: 400;
  }

}

/*section three*/

.section-c {
    background-color: #f4f4fd;
    padding: 96px 0;
}
.head-link {
    text-align: center;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}
.team-list {
     border-radius: 0px 0px 4px 4px;
     background-color: #fff;
     box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-list:hover,
.team-list:focus {
    box-shadow: 0px 4px 16px rgba(46, 47, 66, 0.1),
            0px 4px 4px rgba(0, 0, 0, 0.06);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team {
    padding: 32px 0;
}
.head-item {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.p-item {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        margin-bottom: 8px;
}
.social-list { 
        display: flex;
        justify-content: center;
        gap: 24px;
}
.social-mobile {
        justify-content: flex-start;
        gap: 24px;
 }
.social-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}
.icon-team {
    fill: #f4f4fd;
}
@media screen and (min-width: 768px){
    .image-list {
    gap: 64px 24px;
    
  }
}
@media screen and (min-width: 1158px){
    .section-c {
        padding: 120px 0;
  }
    .image-list {
    flex-wrap: nowrap;
  }
    .team-list {
     width: calc((100% - 3 * 24px) / 4);
  }

}

 /*section four*/

.section-four {
  padding: 96px 0;
}
 .container-four {
    padding: 96px 16px 0;
    margin-bottom: 96px;
 }
 .p-image {
    display: none;
 }
 .head-section {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.photo-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
} 
.photo-styles {
    width: 288px;
}

.photo-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.image-list-b {
    position: relative;
    overflow: hidden;

}
.portfolio-list {
    margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.portfolio-item {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
@media screen and (min-width: 768px){
    .photo-items {
        gap: 72px 24px; 
  }
.photo-styles {
    width: 356px;
  }
}
@media screen and (min-width: 1158px){
  .section-four {
    padding: 120px 0;
  }
    .photo-items {
    gap: 48px 24px;
  }
.photo-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
.photo-styles {
    width: 360px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.photo-styles:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
.image-list-b {
    position: relative;
    overflow: hidden;

  }
.p-image {
    display: block;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.photo-styles:hover .p-image {
    
  transform: translateY(0%);
  }
}

/* footer section*/

.footer-page {
  padding: 96px 0;
        background-color: #2e2f42;
}

.container-foot {
    display: flex;
    flex-direction: column;
}
.logo-f {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 16px;
}
.footer-page .logo-part {
    color: #f4f4fd;
}
.logo-p {
  margin-bottom: 72px;
}
.p-footer {
        max-width: 288px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:  #f4f4fd;
}
.social-cont {
  margin-bottom: 72px;
}
.social-p {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;

}
.social-list-f {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.social-link-b {
    width: 40px;
    height: 40px;
   
}.social-link-f {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-p {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

}
.mail-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    margin: 0 auto 16px;
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}
input::placeholder {
    color: #ffffff;
    opacity: 0.6;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}
.button-footer {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}
.button-foot-svg {
     margin-left: 16px;
}
.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    top: 50%;
    left:50%;
    background-color: var(--dairy);
    border-radius: 4px;
    padding: 72px 16px 24px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    width: 288px;
    min-height: 623px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%);
}
.modal-overlay.is-open {
    opacity:1;
    visibility: visible;
    pointer-events: auto;  
}
.paragraph-m {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: var(--navy-blue);
}
.button-m-window {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}
.button-m-window:hover,
.button-m-window:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}
.button-s {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info-container {
    margin-bottom: 8px;
}
.info-container-m {
     margin-bottom: 16px;
}
.info-check {
    margin-bottom: 24px;
}
.check-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
}
.check-icon {
   flex-shrink: 0;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.information {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    display: block;
}
.info-labl {
 display: flex;
 gap: 8px;
 align-items: center;
}

.name-cont {
    position: relative;

}
.name-user {
   width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.name-user:focus {
    border-color: #4D5AE5;
}
input[class="name-user"]:focus + .man {
    fill: #4D5AE5;
}
.name-user-area {
    padding: 8px 16px;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
}
.man {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
input[type="checkbox"]:checked + .info-labl> .check-icon {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
.check-link {
    line-height: 1.33;
    text-decoration-skip-ink: none;
    text-decoration: underline;
    color: var(--iris);
}

.button-send {
display: block;
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
margin: 0 auto;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: var(--iris);
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px){
  .footer-page {
 padding: 96px 0;
 margin: 0 auto;
}
.container-foot {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 108px;
    gap: 72px 24px;
}
.form-f {
   display: flex;
   gap: 24px;
}
.logo-p,
.p-footer,
.form-p,
.mail-footer,
.social-cont
 {
   margin: 0;
} 
.logo-p {
   width: 264px;
}
.logo-f {
   justify-content: start;
}
.form-p {
   justify-content: start;
}

.modal {
    width: 408px;
    min-height: 584px; 
  }
}
@media screen and (min-width: 1158px) {
.container-foot {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    padding: 0 15px;
  }

.footer-page {
  background-color: #2e2f42;
  padding: 100px 0;
  }
.footer-page .container-foot {
  gap: 0;
  }
.logo-p {
    margin: 0;
  }
.logo-f {
    display: inline-block;
    margin-bottom: 16px;
  }
.social-cont {
  padding-left: 120px;
  }
.social-p {
  text-align: start;
  }
.social-link-f:hover,
.social-link-f:focus {
    background-color: #31d0aa;
  }
.icon-team-f {
    fill:#f4f4fd;
  }
.form-p {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

  }
.form-f {
  display: flex;  
  gap: 24px;
  }
  .form-footer {
    padding-left: 80px;
  }

.mail-footer {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;


  }
input::placeholder {
    color: #ffffff;
  }
.button-footer {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
  }
.button-foot-svg {
     margin-left: 16px;
  }
}
.icon-team-mobile {
  width: 24px;
  height: 24px;
}
